
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Witaj w MediLab</h1>
        <h2><i>Pozwól nam o siebie zadbać</i></h2>
        <a href="#about" class="btn-get-started scrollto">Zaczynajmy!</a>
    </div>
</section>

<main id="main">
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Dlaczego wybrać Medilab?</h3>
                        <p>
                            Już od ponad 25 lat dbamy o zdrowie naszych Pacjentów. Każdego dnia dokładamy wszelkich starań, aby osoby znajdujące się pod naszą opieką były zadowolone ze świadczonych przez nas usług, czuły się bezpiecznie i wiedziały, że mogą liczyć na pomoc i poradę doświadczonych specjalistów.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Czytaj więcej<i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Pakiety medyczne</h4>
                                    <p>
                                        Zapoznaj się z naszą ofertą pakietów medycznych.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Programy profilaktyczne</h4>
                                    <p>Znajdziesz szeroki zestaw profilaktycznych przeglądów stanu zdrowia </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Porady telemedyczne</h4>
                                    <p>Możecie Państwo korzystać z porad bez konieczności wychodzenia z domu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>To co Nas wyróżnia jako lidera</h3>
                    <p>Dzięki zaufaniu okazywanemu nam przez Pacjentów przez te wszystkie lata, dzięki naszej codziennej pracy wykonywanej profesjonalnie i z zaangażowaniem dziś możemy poszczycić się mianem lidera prywatnych usług medycznych w Polsce.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Normy i certyfikaty</a></h4>
                        <p class="description">Wysokie standardy medyczne oraz standardy zarządzania organizacją potwierdza certyfikat zgodności systemu jakości z wymaganiami normy ISO 9001. To sprawdzony i najbardziej rozpoznawalny standard zarządzania organizacją na świecie. </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Jakość Medyczna</a></h4>
                        <p class="description">Jakość opieki medycznej ma bezpośrednie odzwierciedlenie na zdrowiu społeczeństwa.Zgodnie z światowymi trendami w dziedzinie jakości medycznej, wdrażamy obecnie nowatorski system oceny wyników leczenia w oparciu o opinie Pacjentów. </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Rada Naukowa</a></h4>
                        <p class="description">
                            W Medilab działa Rada Naukowa, która opiniuje standardy i procedury medyczne przyjęte
                            w organizacji. Rekomendacje rady pomagają nam udoskonalać postępowanie medyczne, podnosić jakość i skuteczność leczenia, odpowiadać na potrzeby pacjentów, a także budować ścieżki rozwoju personelu medycznego.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="icofont-doctor-alt"></i>
                        <span data-toggle="counter-up">194</span>
                        <p>Lekarzy</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="icofont-patient-bed"></i>
                        <span data-toggle="counter-up">56</span>
                        <p>Placówek medycznych</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-laboratory"></i>
                        <span data-toggle="counter-up">14</span>
                        <p>Własnych laboratoriów</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-award"></i>
                        <span data-toggle="counter-up">150</span>
                        <p>Przyznanych nagród</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Oferta</h2>
                <p>Chcesz zapewnić sobie i swoim bliskim opiekę medyczną na najwyższym poziomie, posiadać dostęp do szerokiego spektrum lekarzy specjalistów, zabiegów ambulatoryjnych oraz badań diagnostycznych? Zapoznaj się z naszą ofertą</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-heart-beat"></i></div>
                        <h4><a href="">Pakiety medyczne</a></h4>
                        <p>Posiadamy szeroki wybór pakietów: dla dzieci i dorosłych,seniorów,dla osób którym zakończył się pakiet korporacyjny</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-drug"></i></div>
                        <h4><a href="">Centrum medyczne</a></h4>
                        <p>Centrum Medyczne to także sieć wysokospecjalistycznych placówek świadczących usługi diagnostyczno-zabiegowe</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-dna-alt-2"></i></div>
                        <h4><a href="">Onkologia</a></h4>
                        <p>Szpitale i poradnie zajmują się szczegółowo diagnozowaniem i leczeniem chorób nowotworowych, hematologicznych oraz kardiologicznych wymagających leczenia inwazyjnego.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-heartbeat"></i></div>
                        <h4><a href="">Diagnostyka obrazowa</a></h4>
                        <p>Diagnostyka to jeden z największych usługodawców diagnostyki obrazowej w Polsce. Oferuje Pacjentom pełen zakres badań (MRI, TK, USG, RTG, mammografia) wykonywanych za pomocą nowoczesnej aparatury medycznej</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-disabled"></i></div>
                        <h4><a href="">Szpital ortopedyczny</a></h4>
                        <p>Posiadamy jeden z najnowocześniejszych i najlepszych ośrodków ortopedii i medycyny sportowej w Europie. Klinika specjalizuje się m.in. w nowoczesnych małoinwazyjnych operacjach artroskopowych w obrębie wszystkich stawów.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-autism"></i></div>
                        <h4><a href="">Poradnia zdrowia psychicznego</a></h4>
                        <p>oferowane są konsultacje, diagnostyka oraz terapie prowadzone przez psychologów, lekarzy psychiatrów i psychoterapeutów zarówno dla dzieci, jak i osób dorosłych.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Masz pytanie? Sprawdź na nie odpowiedź</h2>
                <p>Poniżej przedstawiamy odpowiedzi na najczęściej zadawane nam pytania</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Kiedy czynne są gabinety zabiegowe w waszych placówkach? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                            <p>
                                Informacje o godzinach pracy gabinetów zabiegowych znajdują się na stronach poszczególnych centrów medycznych. W razie wątpliwości prosimy o kontakt z Call Center pod numerem telefonu 00 000-00-00.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Czy w placówkach mogę skorzysać z pomocy szkoły rodzenia?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            <p>
                                Szkoły znajdują się we Wrocławiu, Poznaniu, Gdańśku Szczecinie i Warszawie (placówka PROFEMED). Spotkania prowadzone są w małych grupach przez doświadczonych specjalistów.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Czym są programy profilaktyczne? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                            <p>
                                Programy profilaktyczne to zestawy badań i konsultacji lekarskich umożliwiające szybkie sprawdzenie stanu zdrowia i w razie potrzeby rozpoczęcie leczenia.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Dlaczego pomimo płatności za usługi radiologiczne wymagamy skierowań ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                            <p>
                                Wynika to z ustawowego obowiązku wykonywania badań radiologicznych tylko na zlecenie lekarza. Wiąże się to z narażeniem na promieniowanie rentgenowskie w czasie badania. Ponadto pacjent nie jest w stanie trafnie ocenić jakie konkretnie i w jakiej projekcji (np. ustawienia kończyny) zdjęcie należy zrobić, by uwidocznić ewentualne nieprawidłowości.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Jaki jest termin ważności skierowania na badania laboratoryjne, diagnostyczne, oraz rehabilitację?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                            <p>
                                Termin ważności skierowania na wszystkie badania laboratoryjne, diagnostyczne wynosi 3 miesiące (ewentualnie jeżeli lekarz zaleci inaczej oraz zaznaczy informację na skierowaniu). W przypadku rehabilitacji termin wynosi 1 miesiąc.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>

    <section id="gallery" class="gallery">


        <div class="container-fluid">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                            <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Content/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Skontaktuj się z nami</h2>
                <p>Jeżeli posiadają Państwo pytania do nas, prosimy skorzystać z formularza poniżej aby zadać nam pytanie. Nasz zespół odpowie jak najszybciej na wszystkie Państwa pytania.</p>
            </div>
        </div>



        <div class="container">
            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Lokalizacja:</h4>
                            <p>Koszykowa 86</p>
                            <p>02-008 Warszawa</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>kontakt@iMedical.pl</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefon:</h4>
                            <p>+48 111-111-111</p>
                            <p>+48 222-222-222</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Imię i Nazwisko" data-rule="minlen:4" data-msg="Proszę podać Imię i Nazwisko" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Adres E-mail" data-rule="email" data-msg="Proszę podać adres e-mail" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Temat" data-rule="minlen:4" data-msg="Proszę wpisać temat wiadomośći" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Proszę wpisać treści wiadomości" placeholder="Treść wiadomości"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Wiadomość została wysłana, dziekujemy!</div>
                        </div>
                        <div class="text-center"><button type="submit">Wyślij wiadomość</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>

